*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-track {
  background: rgba(71, 49, 10, 0.911);
}


::-webkit-scrollbar-thumb {
  background: orange;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orange;
}
.home{
  background-image: url('./assets/svg-image-1.svg');
  background-size: cover;
  min-height: 100vh;
}


.typed-cursor{
  font-weight: 500;
  font-size: 30px;
  color: orange ;
  margin-top: -1px;
}

.home-img
{
  height:450px;
}

.highlight{
  color: orange;
  font-weight: bold;
}


tr ,td 
{
  padding:10px;
}
.contactImg
{
  width:50px;
}
.contactImglocation
{
  width:50px;
}

@media (max-width:600){
  .pdfembed{
    width: 50px;
  }
}

@media (max-width : 450px) {
  .home-img{
    height:330px;
  }
  .contactImg
  {
    width:30px;
  }
  .contactImglocation
  {
    width:40px;
  }
}

